@media(max-width: 78.75rem){
    .header{
        padding-top:0;
        width: 100%;
        height: 12.5%;
    }

    .header__burger{
        display: block;
        position: relative;
        top: 60px;
        left: 10px;
        width:1.87rem ;
        height:1.25rem ;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background:#fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .burger__menu{
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
    }
    .header-nav__menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .header__nav{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
    }
    .menu__items{
        display: block;
        padding:6.25rem 0 0 0 ;
    }
    .menu-items__item{
        margin: 0.925rem 1rem;
        font-size: 1.2rem;
    }
    .heder-nav__form {
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        gap:0.4rem ;
    }
}